<!DOCTYPE html>
<html lang="en" manifest="./thunderboard.appcache">
<head>
  <!-- <%= VERSION %> -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Metal+Mania&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="style.css">
  <script src="./js/vendor/all.min.js"></script>
  <script src="./js/main.js"></script>
  <title>Thunder Button</title>
</head>
<body>
  <main>
    <div class='container'>
      <h1 class='centred'>Thunderbutton!</h1>
      <button id='thunderbutton' class='centred'>
        <i class="fas fa-bolt big"></i>
        <div class='centred'>
          Thunder!
        </div>
      </button>
    </div>
  </main>
  <script>Thunder.init({path: './media/thunder2-long.mp3'});</script>
</body>
</html>