html, body { width: 100%; display: block; margin: 0; }
html, button { font-family: 'Metal Mania', cursive; }

body { 
  background-image: url('./media/tttb.png');
  background-size: 80%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

main {
  margin: 1em;
}

.container {
  width: 100%;
}

h1 {
  font-size: 3em;
}

.centred {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.big {
  font-size: 3em;
}

#thunderbutton {
  font-size: 3em;
  padding: 2rem;
  border-width: 0.5rem;
  color: hsla(75, 50%, 90%);
  background: hsla(75, 50%, 5%, 0.5);
}