html, body { width: 100%; display: block; margin: 0; padding: 0; }
html, button { font-family: 'Metal Mania', cursive; }

body { 
  background-image: linear-gradient(hsla(60, 100%, 50%, 0.5), hsla(240, 100%, 50%, 0.5)),
                    url('./media/tttb.png');
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

main {
  margin: 1em;
}

.container {
  width: 100%;
}

h1 {
  font-size: 3em;
  color: hsl(240, 80%, 40%);
}

.centred {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.big {
  font-size: 3em;
}

#thunderbutton {
  font-size: 5em;
  padding: 2rem;
  border-width: 0.5rem;
  color: hsl(60, 80%, 65%);
  background-color: hsla(60, 50%, 5%, 0.2);
}